<br><br>
<div class="test">
	<h3 id="title_about">L'EQUIPE</h3></div>
	<div class="container" id="cardsteam">
	<div class="row">
  <div class="col-sm-12 col-md-10">
    <div class="thumbnail">
      <img src="app/img/img001.jpg" alt="...">
      <div class="caption">
	<h3>Anna Belle</h3>
	<div class="bandgrey"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur massa dui, sed placerat quam semper scelerisque. Duis pellentesque lorem eget eros fringilla feugiat. </p>
          </div>
                  <div class="socialnet">
 <a href="#"><i class="fa fa-facebook-square fa-1x"></i></a>
 <a href="#"><i class="fa fa-twitter fa-1x"></i></a>
 <a href="#"><i class="fa fa-instagram fa-1x"></i></a>
 <a href="3"><i class="fa fa-linkedin fa-1x"></i></a>
 <a href=""><i class="fa fa-google-plus"></i></a>
 <a href=""><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10">
    <div class="thumbnail">
      <img src="app/img/img002.jpg" alt="...">
      <div class="caption">
	<h3>Usain Bolt</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur massa dui, sed placerat quam semper scelerisque. Duis pellentesque lorem eget eros fringilla feugiat. </p>
          </div>
                  <div class="socialnet">
 <a href="#"><i class="fa fa-facebook-square fa-1x"></i></a>
 <a href="#"><i class="fa fa-twitter fa-1x"></i></a>
 <a href="#"><i class="fa fa-instagram fa-1x"></i></a>
 <a href="3"><i class="fa fa-linkedin fa-1x"></i></a>
 <a href=""><i class="fa fa-google-plus"></i></a>
 <a href=""><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <div class="thumbnail">
      <img src="app/img/img003.jpg" alt="...">
      <div class="caption">
	<h3>John Lennon</h3>   

	<div class="bandgrey"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur massa dui, sed placerat quam semper scelerisque. Duis pellentesque lorem eget eros fringilla feugiat.</p>
          </div>
                  <div class="socialnet">
 <a href="#"><i class="fa fa-facebook-square fa-1x"></i></a>
 <a href="#"><i class="fa fa-twitter fa-1x"></i></a>
 <a href="#"><i class="fa fa-instagram fa-1x"></i></a>
 <a href="3"><i class="fa fa-linkedin fa-1x"></i></a>
 <a href=""><i class="fa fa-google-plus"></i></a>
 <a href=""><i class="fa fa-envelope-o"></i></a>
        </div>
    </div>
  </div>
</div>
</div>
<div class="location">
	<h3>HORAIRES</h3>
	<p>Le restaurant vous acceuille du lundi au vendredi de 12h00 à 14h00.</p>
	
	
	<h3>Où nous trouver ?</h3>

     <iframe id="mrg_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.8534831301354!2d2.349442615445907!3d48.9181836792934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66ebfba6b5b8b%3A0x6c673bbe2c69b9bb!2sPlace+aux+Etoiles%2C+93210+Saint-Denis!5e0!3m2!1sfr!2sfr!4v1462963719982" width="800" height="600" frameborder="0" style="border:1.5px solid #565D67" allowfullscreen></iframe>
</div>