<div class="container-fluid admin" >
 <br><br><br><br>
<form class="form-horizontal border_form" role="form">
<div id="bkg_admin"></div>

<h1>Saisir les nouvelles informations du chef du mois {{ paramChef }}:</h1><br><br>

<label for="">Image 1 du Caroussel :</label> <input type="text" ng-model=infos.resto.sliderImg1 size=50 ><br><br>
<label for="">Image 2 du Caroussel :</label> <input type="text" ng-model=infos.resto.sliderImg2 size=50 ><br><br>
<label for="">Image 3 du Caroussel :</label> <input type="text" ng-model=infos.resto.sliderImg3 size=50 ><br><br>

<label for="">Photo du chef :</label>
<input type="text" ng-model=chef.photo size=50 ><br><br>
<div class="row">
        <div class="col-md-3">
            <img ng-src="{{ chef.photo }}" class="img-responsive" alt="">
        </div>
        <div class="col-md-9">
            <label for="">Nom du chef :</label> <input ng-model=chef.nom type="text"><br>
            <label for="">Prénom du chef :</label> <input ng-model=chef.prenom type="text"><br>
            <label for="">Nombre d'étoiles du chef :</label> <input type="text" ng-model=chef.nbEtoiles><br>
            <label for="">Age du chef :</label> <input type="text" ng-model=chef.age><br>
            <label for="">Ville du chef :</label> <input type="text" ng-model=chef.ville><br>
        </div>
    </div>
<br>
   
<label for="">Biographie du chef :</label><br><textarea rows="10" cols="80" ng-model=chef.description ></textarea>
<br><br>


<p>Les plats préférés du chef :</p>
<ul>
  <li><label for="">Plat préféré 1 :</label><input size=50 ng-model=chef.plats_preferes[0] ></li>
  <li><label for="">Plat préféré 2 :</label><input size=50 ng-model=chef.plats_preferes[1] ></li>
  <li><label for="">Plat préféré 3 :</label><input size=50 ng-model=chef.plats_preferes[2] ></li>
</ul>

<br>

<h1> LE MENU</h1>

<p>Les entrées :</p>
 <ul>Entrée 1 :
   <li><label for="">Nom de l'entrée :</label><input size=50 ng-model=infos.resto.menu.entrees[0].nom ></li>
   <li><label for="">Description de l'entrée :</label> <input size=50 ng-model=infos.resto.menu.entrees[0].description ></li>
   <li><label for="">Prix de l'entrée :</label><input size=50 ng-model=infos.resto.menu.entrees[0].prix ></li>
 </ul>

  <br>

<ul>Entrée 2 :
  <li><label for="">Nom de l'entrée :</label><input size=50 ng-model=infos.resto.menu.entrees[1].nom ></li>
  <li><label for="">Description de l'entrée :</label><input size=50 ng-model=infos.resto.menu.entrees[1].description ></li>
  <li><label for="">Prix de l'entrée :</label><input size=50 ng-model=infos.resto.menu.entrees[1].prix ></li>
</ul>

<br>


<p>Les plats :</p>

<ul>Plat 1 :
  <li><label for="">Nom du plat :</label><input size=50 ng-model=infos.resto.menu.plats[0].nom ></li>
  <li><label for="">Description du plat :</label><input size=50 ng-model=infos.resto.menu.plats[0].description ></li>
  <li><label for="">Prix du plat :</label><input size=50 ng-model=infos.resto.menu.plats[0].prix ></li>
</ul>

<br>

 <ul>Plat 2 :
  <li><label for="">Nom du plat :</label><input size=50 ng-model=infos.resto.menu.plats[1].nom ></li>
  <li><label for="">Description du plat :</label><input size=50 ng-model=infos.resto.menu.plats[1].description ></li>
  <li><label for="">Prix du plat :</label><input size=50 ng-model=infos.resto.menu.plats[1].prix ></li>
</ul>

<br>

<p>Les desserts :</p> 

 <ul>Dessert 1 :
  <li><label for="">Nom du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[0].nom ></li>
  <li><label for="">Description du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[0].description ></li>
  <li><label for="">Prix du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[0].prix ></li>
</ul>

<br>

<ul>Dessert 2 :
  <li><label for="">Nom du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[1].nom ></li>
  <li><label for="">Description du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[1].description ></li>
  <li><label for="">Prix du plat :</label><input size=50 ng-model=infos.resto.menu.desserts[1].prix ></li>
</ul>

<button class="btn btn-lg btn-primary" ng-hide='paramChef=="courant"'><a class="lien" href="#/admin"> Chef Mois courant</a></button>
<button class="btn btn-lg btn-primary" ng-click="enregistrer()">Enregistrer</button>
<button class="btn btn-lg btn-primary" ng-hide='paramChef=="suivant"'><a class="lien" href="#/chefSuivant"> Chef Mois suivant</a></button>
<button class="btn btn-lg btn-primary" ng-click="basculer()">Basculer</button>
</div>

</form>


