<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img_resto" ng-src="{{ infos.resto.sliderImg }}" alt="restaurant">
        </div>
    </div>
    <div class="row carte_chef ">
        <div id="chef" class="col-md-3">
            <img ng-src="{{ chef.photo }}" class="img-responsive" alt="">
        </div>
        <div id="descr_chef" class="col-md-9">
            <h2>{{ chef.nom }}  {{ chef.prenom }}</h2>
            <span>Nb étoiles du chef :  </span>
            <span class="stars-container stars-{{ chef.nbEtoiles * 20}}">★★★★★</span><br>
            <span>{{ chef.age }} ans </span><span>{{ chef.ville }}</span>
            <br>
            <a href="#"><i class="fa fa-facebook-square fa-2x icon-for-cv"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x icon-for-cv" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram fa-2x icon-for-cv" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row" style="background-color: #F2F2F2">
        <div class="col-md-8">
            <h1>Biographie</h1>
            <br>
            <p>{{ chef.description }}</p>
        </div>
        <div class="col-md-4 image-col-1">
            <!-- <img ng-src="{{ chef.photo }}" class="img-responsive" alt=""> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 image-col-2">
            <!-- <img ng-src="{{ chef.photo }}" class="img-responsive" alt=""> -->
        </div>
        <div class="col-md-8">
            <h1>Ses recettes préférées</h1>
            <br>
            <ul>
             <li ng-repeat="r in chef.plats_preferes"> {{ r }} </li>
            </ul>
           
        </div>
    </div>
</div>
