<!-- carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active first-slided">
                <img class="first-slide" ng-src="app/img/{{ infos.resto.sliderImg1 }}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>UN CONCEPT UNIQUE A LA PLAINE SAINT-DENIS</h3>
                        <p>UN RESTAURANT QUI CHANGE DE CHEF CHAQUE MOIS</p>
                        <p><a class="btn btn-lg btn-primary" href="#/" role="button">Inscrivez-vous</a></p>
                    </div>
                </div>
            </div>
            <div class="item second-slided">
                <img class="second-slide" ng-src="app/img/{{ infos.resto.sliderImg2 }}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>DU NOUVEAU CHAQUE MOIS</h3>
                        <p>GOUTEZ A DE NOUVELLES SAVEURS GRACE AU TALENT DE NOS CHEF</p>
                        <p><a class="btn btn-lg btn-primary" href="#/" role="button">Inscrivez-vous</a></p>
                    </div>
                </div>
            </div>
            <div class="item third-slided">
                <img class="third-slide" ng-src="app/img/{{ infos.resto.sliderImg3 }}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>UNE RECETTE</h1>
                        <p>PLUSIEURS ASSIETTES</p>
                        <p><a class="btn btn-lg btn-primary" href="#/" role="button">Inscrivez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /CAROUSSEL -->

    <br>
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="carte_chef row">
            <div id="chef" class="col-md-3">
                <h1><a href="#/cv">Chef du mois</a></h1><br>
                 <img ng-src="{{ infos.resto.chef.photo }}" class="img-responsive" alt="">
            </div>
            <div id="descr_chef" class="col-md-9">
                <h2>{{ infos.resto.chef.nom }}  {{ infos.resto.chef.prenom }}</h2>
               <span>Chef </span>
                <span class="stars-container stars-{{ infos.resto.chef.nbEtoiles * 20}}">★★★★★</span>

                <p>{{ infos.resto.chef.description }}</p>

            </div>
        </div>

        <hr>
    </div>
    <br>

        <div class="menu">
            <div id="imgMenu"></div>
            <div id="bloc_menu" class="container-fluid">
                    <h1>MENU DU CHEF {{ today | date }}</h1><br><br>
                    <h2>Entrées</h2>
                    <div ng-repeat="e in infos.resto.menu.entrees" class="appetizer row">
                        <div class="item col-md-9">
                            <h3 class="name">{{ e.nom }}</h3>
                            <p class="description">{{ e.description }}</p>
                        </div>
                        <div class="price col-md-3">
                            <p class="price">{{ e.prix | currency }}</p>
                        </div>
                    </div>
                    <h2>Plats</h2>
                    <div ng-repeat="p in infos.resto.menu.plats" class="row">
                        <div class="item col-md-9">
                            <h3>{{ p.nom }}</h3>
                            <p>{{ p.description }}</p>
                        </div>
                        <div class="price col-md-3">
                            <p>{{ p.prix | currency }}</p>
                        </div>
                    </div>
                    <h2>Desserts</h2>
                    <div ng-repeat="d in infos.resto.menu.desserts" class="row">
                        <div class="item col-md-9">
                            <h3>{{ d.nom }}</h3>
                            <p>{{ d.description }}</p>
                        </div>
                        <div class="price col-md-3">
                            <p>{{ d.prix | currency }}</p>
                        </div>
                    </div>
            </div>
            <!-- <img id="logo_menu" ng-src="{{ infos.resto.chef.logo_menu }}" class="img-responsive" alt=""> -->
        </div>
    
    <br><br>
    <div class="commentaires">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.3618356760553!2d2.3595816152017948!3d48.90849807929243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e9afd19a7b1%3A0x18ca057c17e1df59!2sRue+Saint-Just%2C+93210+Saint-Denis!5e0!3m2!1sfr!2sfr!4v1463080102876" width="580" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div id="fil_tweet">
            <!-- FIL TWEETER -->
            <a class="twitter-timeline" href="https://twitter.com/Lephemere93" data-widget-id="730840741723901952">Tweets de @Lephemere93</a>
        </div>
    </div>