<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/angular-locale_fr-fr.js"></script>

    <!-- Module myAPP -->
    <sript src="js/myApp.js"></sript>

     <!-- Les services -->
    <script src="js/services/Resto.js"></script>

    <!-- Les controlleurs -->
    <script src="js/controllers/MenuController.js"></script>

</head>

<body ng-app="myApp">
    <div class="header">
        <h1><span>L</span><span>Ephemere</span></h1> </div>
    <div class="main" ng-controller="MenuController">
        <div class="container">
            <img ng-src="{{ infos.resto.headerImg }}" alt="le drapeau du pays du resto">
            <h1>Specials for {{ today | date }}</h1>
            <h2>le Chef c'est {{ infos.resto.chef.nom }}  {{ infos.resto.chef.prenom }}</h2>
            <img ng-src="{{ infos.resto.chef.photo }}" alt="">
            <h2>Entrées</h2>
            <div ng-repeat="e in infos.resto.menu.entrees" class="appetizer row">
                <div class="item col-md-9">
                    <h3 class="name">{{ e.nom }}</h3>
                    <p class="description">{{ e.description }}</p>
                </div>
                <div class="price col-md-3">
                    <p class="price">{{ e.prix | currency }}</p>
                </div>
            </div>
            <h2>Plats</h2>
            <div ng-repeat="p in infos.resto.menu.plats" class="row">
                <div class="item col-md-9">
                    <h3>{{ p.nom }}</h3>
                    <p>{{ p.description }}</p>
                </div>
                <div class="price col-md-3">
                    <p>{{ p.prix | currency }}</p>
                </div>
            </div>
            <h2>Desserts</h2>
            <div ng-repeat="d in infos.resto.menu.desserts" class="row">
                <div class="item col-md-9">
                    <h3>{{ d.nom }}</h3>
                    <p>{{ d.description }}</p>
                </div>
                <div class="price col-md-3">
                    <p>{{ d.prix | currency }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"> </div>

</body>

</html>
